html,body{
  width: 100%;
  height: 100%;
}

#holder{
  width: 100%;
  height:100%;
  margin: 0 auto;
}

#map {
  width: 73%;
  height: 95%;
  float: right;
}

#sidebar {
  height: 100%;
  width: 20%;
  float: left;
  background: #D0D0D;
  padding: 1em;
}

#box {
  border-style: solid;
  border-color: black;
  padding: 1em;
}

